---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=Gowun+Batang:400,700");

$blue: #70a9dd;
$med-dark-blue: #5a89b3;
$dark-blue: #456888;
$very-dark-blue: #2f475d;
$midnight: #1a2733;
$fuchia: #da70dd;
$orange: #dda470;
$green: #72dd70;

h1, h2, h3, p, div, .header, h1.header, header, table, th, td {
    font-family: "Gowun Batang";
}

p, li, a, td {
    font-size: 13pt;
}

th {
    background-color: #{$blue};
}

td {
    background-color: #dddddd;
}

a {
    color: #{$dark-blue};
    font-style: bold;
    text-decoration: underline;
}

header {
    background-color: #{$blue};
    border: 1px solid #{$blue};
    font-style: bold;
    margin: 0px;
}

a.tiny-link {
    font-size: 9pt;
    border: 0px;
}
